@model IEnumerable<EntityLayer.Concrete.RoleMethod>

@{
    ViewBag.Title = "Role-Method əlaqəsi";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Role-Method əlaqəsi</h2>

<table class="table">
    <tr>
        <th>
            Metod
        </th>
        <th>
            Rol
        </th>

    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MethodName.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Role.Name)
        </td>

    </tr>
}

</table>
