@model IEnumerable<EntityLayer.Concrete.Skill>

<div class="col-md-6 skills-right bar_group">
    @foreach (var item in Model)
    {
        <div class='bar_group__bar thin' label='@item.Name &nbsp;&nbsp; @item.Percent%' value='@item.Percent'></div>
    }
</div>
