@model  IEnumerable<EntityLayer.Concrete.Content>
<div class="tab-pane" id="LastActivity">
    <!-- The timeline -->
    <div class="timeline timeline-inverse">
        <br />
        @foreach (var item in Model)
        {
            <!-- timeline time label -->
            <div class="time-label">
                <span class="bg-danger">
                    @item.CreatedDate.ToString("dd-MMM-yyyy")
                </span>
            </div>
            <!-- timeline item -->
            <div>
                <i class="fas fa-ellipsis-h bg-warning"></i>

                <div class="timeline-item">
                    <span class="time"><i class="far fa-clock"></i> @((DateTime.Now - item.CreatedDate).Days) gün əvvəl</span>

                    <h3 class="timeline-header"><a>@item.Heading.Name</a></h3>

                    <div class="timeline-body">
                        @item.Text
                    </div>
                </div>
            </div>
            <!-- END timeline item -->
        }


    </div>
</div>

