
@{
    ViewBag.Title = "Icons";
    Layout = "~/Views/Shared/_ShowcaseLayout.cshtml";
}



<div class="row">
    <div class="col-md-3"><p><i class="fas fa-address-book"></i> fa-address-book</p></div>
    <div class="col-md-3"><p><i class="fas fa-address-card"></i> fa-address-card</p></div>
    <div class="col-md-3"><p><i class="fas fa-adjust"></i> fa-adjust</p></div>
    <div class="col-md-3"><p><i class="fas fa-align-center"></i> fa-align-center</p></div>
    <div class="col-md-3"><p><i class="fas fa-align-justify"></i> fa-align-justify</p></div>
    <div class="col-md-3"><p><i class="fas fa-align-left"></i> fa-align-left</p></div>
    <div class="col-md-3"><p><i class="fas fa-align-right"></i> fa-align-right</p></div>
    <div class="col-md-3"><p><i class="fas fa-ambulance"></i> fa-ambulance</p></div>
    <div class="col-md-3"><p><i class="fas fa-american-sign-language-interpreting"></i> fa-american-sign-language-interpreting</p></div>
    <div class="col-md-3"><p><i class="fas fa-anchor"></i> fa-anchor</p></div>
    <div class="col-md-3"><p><i class="fas fa-angle-double-down"></i> fa-angle-double-down</p></div>
    <div class="col-md-3"><p><i class="fas fa-angle-double-left"></i> fa-angle-double-left</p></div>
    <div class="col-md-3"><p><i class="fas fa-angle-double-right"></i> fa-angle-double-right</p></div>
    <div class="col-md-3"><p><i class="fas fa-angle-double-up"></i> fa-angle-double-up</p></div>
    <div class="col-md-3"><p><i class="fas fa-angle-down"></i> fa-angle-down</p></div>
    <div class="col-md-3"><p><i class="fas fa-angle-left"></i> fa-angle-left</p></div>
    <div class="col-md-3"><p><i class="fas fa-angle-right"></i> fa-angle-right</p></div>
    <div class="col-md-3"><p><i class="fas fa-angle-up"></i> fa-angle-up</p></div>
    <div class="col-md-3"><p><i class="fas fa-archive"></i> fa-archive</p></div>
    <div class="col-md-3"><p><i class="fas fa-arrow-circle-down"></i> fa-arrow-circle-down</p></div>
    <div class="col-md-3"><p><i class="fas fa-arrow-circle-left"></i> fa-arrow-circle-left</p></div>
    <div class="col-md-3"><p><i class="fas fa-arrow-circle-right"></i> fa-arrow-circle-right</p></div>
    <div class="col-md-3"><p><i class="fas fa-arrow-circle-up"></i> fa-arrow-circle-up</p></div>
    <div class="col-md-3"><p><i class="fas fa-arrow-down"></i> fa-arrow-down</p></div>
    <div class="col-md-3"><p><i class="fas fa-arrow-left"></i> fa-arrow-left</p></div>
    <div class="col-md-3"><p><i class="fas fa-arrow-right"></i> fa-arrow-right</p></div>
    <div class="col-md-3"><p><i class="fas fa-arrow-up"></i> fa-arrow-up</p></div>
    <div class="col-md-3"><p><i class="fas fa-arrows-alt"></i> fa-arrows-alt</p></div>
    <div class="col-md-3"><p><i class="fas fa-asl-interpreting"></i> fa-asl-interpreting</p></div>
    <div class="col-md-3"><p><i class="fas fa-assistive-listening-systems"></i> fa-assistive-listening-systems</p></div>
    <div class="col-md-3"><p><i class="fas fa-asterisk"></i> fa-asterisk</p></div>
    <div class="col-md-3"><p><i class="fas fa-at"></i> fa-at</p></div>
    <div class="col-md-3"><p><i class="fas fa-audio-description"></i> fa-audio-description</p></div>
    <div class="col-md-3"><p><i class="fas fa-backward"></i> fa-backward</p></div>
    <div class="col-md-3"><p><i class="fas fa-balance-scale"></i> fa-balance-scale</p></div>
    <div class="col-md-3"><p><i class="fas fa-ban"></i> fa-ban</p></div>
    <div class="col-md-3"><p><i class="fas fa-barcode"></i> fa-barcode</p></div>
    <div class="col-md-3"><p><i class="fas fa-bars"></i> fa-bars</p></div>
    <div class="col-md-3"><p><i class="fas fa-bath"></i> fa-bath</p></div>
    <div class="col-md-3"><p><i class="fas fa-battery-empty"></i> fa-battery-empty</p></div>
    <div class="col-md-3"><p><i class="fas fa-battery-full"></i> fa-battery-full</p></div>
    <div class="col-md-3"><p><i class="fas fa-battery-half"></i> fa-battery-half</p></div>
    <div class="col-md-3"><p><i class="fas fa-battery-quarter"></i> fa-battery-quarter</p></div>
    <div class="col-md-3"><p><i class="fas fa-battery-three-quarters"></i> fa-battery-three-quarters</p></div>
    <div class="col-md-3"><p><i class="fas fa-bed"></i> fa-bed</p></div>
    <div class="col-md-3"><p><i class="fas fa-beer"></i> fa-beer</p></div>
    <div class="col-md-3"><p><i class="fas fa-bell"></i> fa-bell</p></div>
    <div class="col-md-3"><p><i class="fas fa-bell-slash"></i> fa-bell-slash</p></div>
    <div class="col-md-3"><p><i class="fas fa-bicycle"></i> fa-bicycle</p></div>
    <div class="col-md-3"><p><i class="fas fa-binoculars"></i> fa-binoculars</p></div>
    <div class="col-md-3"><p><i class="fas fa-birthday-cake"></i> fa-birthday-cake</p></div>
    <div class="col-md-3"><p><i class="fas fa-blind"></i> fa-blind</p></div>
    <div class="col-md-3"><p><i class="fas fa-bold"></i> fa-bold</p></div>
    <div class="col-md-3"><p><i class="fas fa-bolt"></i> fa-bolt</p></div>
    <div class="col-md-3"><p><i class="fas fa-bomb"></i> fa-bomb</p></div>
    <div class="col-md-3"><p><i class="fas fa-book"></i> fa-book</p></div>
    <div class="col-md-3"><p><i class="fas fa-bookmark"></i> fa-bookmark</p></div>
    <div class="col-md-3"><p><i class="fas fa-braille"></i> fa-braille</p></div>
    <div class="col-md-3"><p><i class="fas fa-briefcase"></i> fa-briefcase</p></div>
    <div class="col-md-3"><p><i class="fas fa-bug"></i> fa-bug</p></div>
    <div class="col-md-3"><p><i class="fas fa-building"></i> fa-building</p></div>
    <div class="col-md-3"><p><i class="fas fa-bullhorn"></i> fa-bullhorn</p></div>
    <div class="col-md-3"><p><i class="fas fa-bullseye"></i> fa-bullseye</p></div>
    <div class="col-md-3"><p><i class="fas fa-bus"></i> fa-bus</p></div>
    <div class="col-md-3"><p><i class="fas fa-calculator"></i> fa-calculator</p></div>
    <div class="col-md-3"><p><i class="fas fa-calendar"></i> fa-calendar</p></div>
    <div class="col-md-3"><p><i class="fas fa-camera"></i> fa-camera</p></div>
    <div class="col-md-3"><p><i class="fas fa-camera-retro"></i> fa-camera-retro</p></div>
    <div class="col-md-3"><p><i class="fas fa-car"></i> fa-car</p></div>
    <div class="col-md-3"><p><i class="fas fa-caret-down"></i> fa-caret-down</p></div>
    <div class="col-md-3"><p><i class="fas fa-caret-left"></i> fa-caret-left</p></div>
    <div class="col-md-3"><p><i class="fas fa-caret-right"></i> fa-caret-right</p></div>
    <div class="col-md-3"><p><i class="fas fa-caret-up"></i> fa-caret-up</p></div>
    <div class="col-md-3"><p><i class="fas fa-cart-arrow-down"></i> fa-cart-arrow-down</p></div>
    <div class="col-md-3"><p><i class="fas fa-cart-plus"></i> fa-cart-plus</p></div>
    <div class="col-md-3"><p><i class="fas fa-certificate"></i> fa-certificate</p></div>
    <div class="col-md-3"><p><i class="fas fa-check"></i> fa-check</p></div>
    <div class="col-md-3"><p><i class="fas fa-check-circle"></i> fa-check-circle</p></div>
    <div class="col-md-3"><p><i class="fas fa-check-square"></i> fa-check-square</p></div>
    <div class="col-md-3"><p><i class="fas fa-chevron-circle-down"></i> fa-chevron-circle-down</p></div>
    <div class="col-md-3"><p><i class="fas fa-chevron-circle-left"></i> fa-chevron-circle-left</p></div>
    <div class="col-md-3"><p><i class="fas fa-chevron-circle-right"></i> fa-chevron-circle-right</p></div>
    <div class="col-md-3"><p><i class="fas fa-chevron-circle-up"></i> fa-chevron-circle-up</p></div>
    <div class="col-md-3"><p><i class="fas fa-chevron-down"></i> fa-chevron-down</p></div>
    <div class="col-md-3"><p><i class="fas fa-chevron-left"></i> fa-chevron-left</p></div>
    <div class="col-md-3"><p><i class="fas fa-chevron-right"></i> fa-chevron-right</p></div>
    <div class="col-md-3"><p><i class="fas fa-chevron-up"></i> fa-chevron-up</p></div>
    <div class="col-md-3"><p><i class="fas fa-child"></i> fa-child</p></div>
    <div class="col-md-3"><p><i class="fas fa-circle"></i> fa-circle</p></div>
    <div class="col-md-3"><p><i class="fas fa-clipboard"></i> fa-clipboard</p></div>
    <div class="col-md-3"><p><i class="fas fa-clone"></i> fa-clone</p></div>
    <div class="col-md-3"><p><i class="fas fa-cloud"></i> fa-cloud</p></div>
    <div class="col-md-3"><p><i class="fas fa-code"></i> fa-code</p></div>

    <div class="col-md-3"><p><i class="fas fa-coffee"></i> fa-coffee</p></div>
    <div class="col-md-3"><p><i class="fas fa-cog"></i> fa-cog</p></div>
    <div class="col-md-3"><p><i class="fas fa-cogs"></i> fa-cogs</p></div>
    <div class="col-md-3"><p><i class="fas fa-columns"></i> fa-columns</p></div>
    <div class="col-md-3"><p><i class="fas fa-comment"></i> fa-comment</p></div>

    <div class="col-md-3"><p><i class="fas fa-comments"></i> fa-comments</p></div>
    <div class="col-md-3"><p><i class="fas fa-compass"></i> fa-compass</p></div>
    <div class="col-md-3"><p><i class="fas fa-compress"></i> fa-compress</p></div>

    <div class="col-md-3"><p><i class="fas fa-copy"></i> fa-copy</p></div>
    <div class="col-md-3"><p><i class="fas fa-copyright"></i> fa-copyright</p></div>
    <div class="col-md-3"><p><i class="fas fa-credit-card"></i> fa-credit-card</p></div>
    <div class="col-md-3"><p><i class="fas fa-crop"></i> fa-crop</p></div>
    <div class="col-md-3"><p><i class="fas fa-crosshairs"></i> fa-crosshairs</p></div>
    <div class="col-md-3"><p><i class="fas fa-cube"></i> fa-cube</p></div>
    <div class="col-md-3"><p><i class="fas fa-cubes"></i> fa-cubes</p></div>
    <div class="col-md-3"><p><i class="fas fa-cut"></i> fa-cut</p></div>

    <div class="col-md-3"><p><i class="fas fa-database"></i> fa-database</p></div>
    <div class="col-md-3"><p><i class="fas fa-deaf"></i> fa-deaf</p></div>

    <div class="col-md-3"><p><i class="fas fa-desktop"></i> fa-desktop</p></div>

    <div class="col-md-3"><p><i class="fas fa-download"></i> fa-download</p></div>

    <div class="col-md-3"><p><i class="fas fa-edit"></i> fa-edit</p></div>
    <div class="col-md-3"><p><i class="fas fa-eject"></i> fa-eject</p></div>
    <div class="col-md-3"><p><i class="fas fa-ellipsis-h"></i> fa-ellipsis-h</p></div>
    <div class="col-md-3"><p><i class="fas fa-ellipsis-v"></i> fa-ellipsis-v</p></div>
    <div class="col-md-3"><p><i class="fas fa-envelope"></i> fa-envelope</p></div>

    <div class="col-md-3"><p><i class="fas fa-envelope-open"></i> fa-envelope-open</p></div>

    <div class="col-md-3"><p><i class="fas fa-envelope-square"></i> fa-envelope-square</p></div>
    <div class="col-md-3"><p><i class="fas fa-eraser"></i> fa-eraser</p></div>

    <div class="col-md-3"><p><i class="fas fa-exclamation"></i> fa-exclamation</p></div>
    <div class="col-md-3"><p><i class="fas fa-exclamation-circle"></i> fa-exclamation-circle</p></div>
    <div class="col-md-3"><p><i class="fas fa-exclamation-triangle"></i> fa-exclamation-triangle</p></div>
    <div class="col-md-3"><p><i class="fas fa-expand"></i> fa-expand</p></div>

    <div class="col-md-3"><p><i class="fas fa-eye"></i> fa-eye</p></div>
    <div class="col-md-3"><p><i class="fas fa-eye-slash"></i> fa-eye-slash</p></div>

    <div class="col-md-3"><p><i class="fas fa-fast-backward"></i> fa-fast-backward</p></div>
    <div class="col-md-3"><p><i class="fas fa-fast-forward"></i> fa-fast-forward</p></div>
    <div class="col-md-3"><p><i class="fas fa-fax"></i> fa-fax</p></div>
    <div class="col-md-3"><p><i class="fas fa-female"></i> fa-female</p></div>
    <div class="col-md-3"><p><i class="fas fa-fighter-jet"></i> fa-fighter-jet</p></div>
    <div class="col-md-3"><p><i class="fas fa-file"></i> fa-file</p></div>

    <div class="col-md-3"><p><i class="fas fa-film"></i> fa-film</p></div>
    <div class="col-md-3"><p><i class="fas fa-filter"></i> fa-filter</p></div>
    <div class="col-md-3"><p><i class="fas fa-fire"></i> fa-fire</p></div>
    <div class="col-md-3"><p><i class="fas fa-fire-extinguisher"></i> fa-fire-extinguisher</p></div>

    <div class="col-md-3"><p><i class="fas fa-flag"></i> fa-flag</p></div>
    <div class="col-md-3"><p><i class="fas fa-flag-checkered"></i> fa-flag-checkered</p></div>

    <div class="col-md-3"><p><i class="fas fa-flask"></i> fa-flask</p></div>

    <div class="col-md-3"><p><i class="fas fa-folder"></i> fa-folder</p></div>
    <div class="col-md-3"><p><i class="fas fa-folder-open"></i> fa-folder-open</p></div>

    <div class="col-md-3"><p><i class="fas fa-font"></i> fa-font</p></div>

    <div class="col-md-3"><p><i class="fas fa-forward"></i> fa-forward</p></div>

    <div class="col-md-3"><p><i class="fas fa-gamepad"></i> fa-gamepad</p></div>
    <div class="col-md-3"><p><i class="fas fa-gavel"></i> fa-gavel</p></div>

    <div class="col-md-3"><p><i class="fas fa-genderless"></i> fa-genderless</p></div>

    <div class="col-md-3"><p><i class="fas fa-gift"></i> fa-gift</p></div>

    <div class="col-md-3"><p><i class="fas fa-globe"></i> fa-globe</p></div>

    <div class="col-md-3"><p><i class="fas fa-graduation-cap"></i> fa-graduation-cap</p></div>

    <div class="col-md-3"><p><i class="fas fa-h-square"></i> fa-h-square</p></div>

    <div class="col-md-3"><p><i class="fas fa-hashtag"></i> fa-hashtag</p></div>

    <div class="col-md-3"><p><i class="fas fa-headphones"></i> fa-headphones</p></div>
    <div class="col-md-3"><p><i class="fas fa-heart"></i> fa-heart</p></div>
    <div class="col-md-3"><p><i class="fas fa-heartbeat"></i> fa-heartbeat</p></div>
    <div class="col-md-3"><p><i class="fas fa-history"></i> fa-history</p></div>
    <div class="col-md-3"><p><i class="fas fa-home"></i> fa-home</p></div>

    <div class="col-md-3"><p><i class="fas fa-hotel"></i> fa-hotel</p></div>
    <div class="col-md-3"><p><i class="fas fa-hourglass"></i> fa-hourglass</p></div>

    <div class="col-md-3"><p><i class="fas fa-hourglass-end"></i> fa-hourglass-end</p></div>
    <div class="col-md-3"><p><i class="fas fa-hourglass-half"></i> fa-hourglass-half</p></div>

    <div class="col-md-3"><p><i class="fas fa-hourglass-start"></i> fa-hourglass-start</p></div>

    <div class="col-md-3"><p><i class="fas fa-id-badge"></i> fa-id-badge</p></div>
    <div class="col-md-3"><p><i class="fas fa-id-card"></i> fa-id-card</p></div>

    <div class="col-md-3"><p><i class="fas fa-image"></i> fa-image</p></div>
    <div class="col-md-3"><p><i class="fas fa-inbox"></i> fa-inbox</p></div>
    <div class="col-md-3"><p><i class="fas fa-indent"></i> fa-indent</p></div>
    <div class="col-md-3"><p><i class="fas fa-industry"></i> fa-industry</p></div>
    <div class="col-md-3"><p><i class="fas fa-info"></i> fa-info</p></div>
    <div class="col-md-3"><p><i class="fas fa-info-circle"></i> fa-info-circle</p></div>

    <div class="col-md-3"><p><i class="fas fa-italic"></i> fa-italic</p></div>

    <div class="col-md-3"><p><i class="fas fa-key"></i> fa-key</p></div>

    <div class="col-md-3"><p><i class="fas fa-language"></i> fa-language</p></div>
    <div class="col-md-3"><p><i class="fas fa-laptop"></i> fa-laptop</p></div>

    <div class="col-md-3"><p><i class="fas fa-leaf"></i> fa-leaf</p></div>

    <div class="col-md-3"><p><i class="fas fa-life-ring"></i> fa-life-ring</p></div>

    <div class="col-md-3"><p><i class="fas fa-link"></i> fa-link</p></div>

    <div class="col-md-3"><p><i class="fas fa-list"></i> fa-list</p></div>
    <div class="col-md-3"><p><i class="fas fa-list-alt"></i> fa-list-alt</p></div>
    <div class="col-md-3"><p><i class="fas fa-list-ol"></i> fa-list-ol</p></div>
    <div class="col-md-3"><p><i class="fas fa-list-ul"></i> fa-list-ul</p></div>
    <div class="col-md-3"><p><i class="fas fa-location-arrow"></i> fa-location-arrow</p></div>
    <div class="col-md-3"><p><i class="fas fa-lock"></i> fa-lock</p></div>

    <div class="col-md-3"><p><i class="fas fa-low-vision"></i> fa-low-vision</p></div>
    <div class="col-md-3"><p><i class="fas fa-magic"></i> fa-magic</p></div>
    <div class="col-md-3"><p><i class="fas fa-magnet"></i> fa-magnet</p></div>

    <div class="col-md-3"><p><i class="fas fa-male"></i> fa-male</p></div>
    <div class="col-md-3"><p><i class="fas fa-map"></i> fa-map</p></div>
    <div class="col-md-3"><p><i class="fas fa-map-marker"></i> fa-map-marker</p></div>
    <div class="col-md-3"><p><i class="fas fa-map-pin"></i> fa-map-pin</p></div>
    <div class="col-md-3"><p><i class="fas fa-map-signs"></i> fa-map-signs</p></div>
    <div class="col-md-3"><p><i class="fas fa-mars"></i> fa-mars</p></div>
    <div class="col-md-3"><p><i class="fas fa-mars-double"></i> fa-mars-double</p></div>
    <div class="col-md-3"><p><i class="fas fa-mars-stroke"></i> fa-mars-stroke</p></div>
    <div class="col-md-3"><p><i class="fas fa-mars-stroke-h"></i> fa-mars-stroke-h</p></div>
    <div class="col-md-3"><p><i class="fas fa-mars-stroke-v"></i> fa-mars-stroke-v</p></div>

    <div class="col-md-3"><p><i class="fas fa-medkit"></i> fa-medkit</p></div>

    <div class="col-md-3"><p><i class="fas fa-mercury"></i> fa-mercury</p></div>
    <div class="col-md-3"><p><i class="fas fa-microchip"></i> fa-microchip</p></div>
    <div class="col-md-3"><p><i class="fas fa-microphone"></i> fa-microphone</p></div>
    <div class="col-md-3"><p><i class="fas fa-microphone-slash"></i> fa-microphone-slash</p></div>
    <div class="col-md-3"><p><i class="fas fa-minus"></i> fa-minus</p></div>
    <div class="col-md-3"><p><i class="fas fa-minus-circle"></i> fa-minus-circle</p></div>
    <div class="col-md-3"><p><i class="fas fa-minus-square"></i> fa-minus-square</p></div>

    <div class="col-md-3"><p><i class="fas fa-mobile"></i> fa-mobile</p></div>

    <div class="col-md-3"><p><i class="fas fa-motorcycle"></i> fa-motorcycle</p></div>
    <div class="col-md-3"><p><i class="fas fa-mouse-pointer"></i> fa-mouse-pointer</p></div>
    <div class="col-md-3"><p><i class="fas fa-music"></i> fa-music</p></div>
    <div class="col-md-3"><p><i class="fas fa-neuter"></i> fa-neuter</p></div>

    <div class="col-md-3"><p><i class="fas fa-object-group"></i> fa-object-group</p></div>
    <div class="col-md-3"><p><i class="fas fa-object-ungroup"></i> fa-object-ungroup</p></div>

    <div class="col-md-3"><p><i class="fas fa-outdent"></i> fa-outdent</p></div>

    <div class="col-md-3"><p><i class="fas fa-paint-brush"></i> fa-paint-brush</p></div>
    <div class="col-md-3"><p><i class="fas fa-paper-plane"></i> fa-paper-plane</p></div>

    <div class="col-md-3"><p><i class="fas fa-paperclip"></i> fa-paperclip</p></div>
    <div class="col-md-3"><p><i class="fas fa-paragraph"></i> fa-paragraph</p></div>
    <div class="col-md-3"><p><i class="fas fa-paste"></i> fa-paste</p></div>
    <div class="col-md-3"><p><i class="fas fa-pause"></i> fa-pause</p></div>
    <div class="col-md-3"><p><i class="fas fa-pause-circle"></i> fa-pause-circle</p></div>

    <div class="col-md-3"><p><i class="fas fa-paw"></i> fa-paw</p></div>

    <div class="col-md-3"><p><i class="fas fa-phone"></i> fa-phone</p></div>
    <div class="col-md-3"><p><i class="fas fa-phone-square"></i> fa-phone-square</p></div>

    <div class="col-md-3"><p><i class="fas fa-plane"></i> fa-plane</p></div>
    <div class="col-md-3"><p><i class="fas fa-play"></i> fa-play</p></div>
    <div class="col-md-3"><p><i class="fas fa-play-circle"></i> fa-play-circle</p></div>
    <div class="col-md-3"><p><i class="fas fa-plug"></i> fa-plug</p></div>
    <div class="col-md-3"><p><i class="fas fa-plus"></i> fa-plus</p></div>
    <div class="col-md-3"><p><i class="fas fa-plus-circle"></i> fa-plus-circle</p></div>
    <div class="col-md-3"><p><i class="fas fa-plus-square"></i> fa-plus-square</p></div>
    <div class="col-md-3"><p><i class="fas fa-podcast"></i> fa-podcast</p></div>
    <div class="col-md-3"><p><i class="fas fa-power-off"></i> fa-power-off</p></div>
    <div class="col-md-3"><p><i class="fas fa-print"></i> fa-print</p></div>
    <div class="col-md-3"><p><i class="fas fa-puzzle-piece"></i> fa-puzzle-piece</p></div>
    <div class="col-md-3"><p><i class="fas fa-qrcode"></i> fa-qrcode</p></div>
    <div class="col-md-3"><p><i class="fas fa-question"></i> fa-question</p></div>
    <div class="col-md-3"><p><i class="fas fa-question-circle"></i> fa-question-circle</p></div>

    <div class="col-md-3"><p><i class="fas fa-quote-left"></i> fa-quote-left</p></div>
    <div class="col-md-3"><p><i class="fas fa-quote-right"></i> fa-quote-right</p></div>
    <div class="col-md-3"><p><i class="fas fa-random"></i> fa-random</p></div>

    <div class="col-md-3"><p><i class="fas fa-recycle"></i> fa-recycle</p></div>

    <div class="col-md-3"><p><i class="fas fa-registered"></i> fa-registered</p></div>

    <div class="col-md-3"><p><i class="fas fa-reply"></i> fa-reply</p></div>
    <div class="col-md-3"><p><i class="fas fa-reply-all"></i> fa-reply-all</p></div>
    <div class="col-md-3"><p><i class="fas fa-retweet"></i> fa-retweet</p></div>
    <div class="col-md-3"><p><i class="fas fa-road"></i> fa-road</p></div>
    <div class="col-md-3"><p><i class="fas fa-rocket"></i> fa-rocket</p></div>

    <div class="col-md-3"><p><i class="fas fa-rss"></i> fa-rss</p></div>
    <div class="col-md-3"><p><i class="fas fa-rss-square"></i> fa-rss-square</p></div>

    <div class="col-md-3"><p><i class="fas fa-save"></i> fa-save</p></div>

    <div class="col-md-3"><p><i class="fas fa-search"></i> fa-search</p></div>
    <div class="col-md-3"><p><i class="fas fa-search-minus"></i> fa-search-minus</p></div>
    <div class="col-md-3"><p><i class="fas fa-search-plus"></i> fa-search-plus</p></div>

    <div class="col-md-3"><p><i class="fas fa-server"></i> fa-server</p></div>
    <div class="col-md-3"><p><i class="fas fa-share"></i> fa-share</p></div>
    <div class="col-md-3"><p><i class="fas fa-share-alt"></i> fa-share-alt</p></div>
    <div class="col-md-3"><p><i class="fas fa-share-alt-square"></i> fa-share-alt-square</p></div>
    <div class="col-md-3"><p><i class="fas fa-share-square"></i> fa-share-square</p></div>

    <div class="col-md-3"><p><i class="fas fa-ship"></i> fa-ship</p></div>
    <div class="col-md-3"><p><i class="fas fa-shopping-bag"></i> fa-shopping-bag</p></div>
    <div class="col-md-3"><p><i class="fas fa-shopping-basket"></i> fa-shopping-basket</p></div>
    <div class="col-md-3"><p><i class="fas fa-shopping-cart"></i> fa-shopping-cart</p></div>
    <div class="col-md-3"><p><i class="fas fa-shower"></i> fa-shower</p></div>
    <div class="col-md-3"><p><i class="fas fa-sign-language"></i> fa-sign-language</p></div>
    <div class="col-md-3"><p><i class="fas fa-signal"></i> fa-signal</p></div>

    <div class="col-md-3"><p><i class="fas fa-sitemap"></i> fa-sitemap</p></div>

    <div class="col-md-3"><p><i class="fas fa-sort"></i> fa-sort</p></div>

    <div class="col-md-3"><p><i class="fas fa-sort-down"></i> fa-sort-down</p></div>

    <div class="col-md-3"><p><i class="fas fa-sort-up"></i> fa-sort-up</p></div>
    <div class="col-md-3"><p><i class="fas fa-space-shuttle"></i> fa-space-shuttle</p></div>
    <div class="col-md-3"><p><i class="fas fa-spinner"></i> fa-spinner</p></div>

    <div class="col-md-3"><p><i class="fas fa-square"></i> fa-square</p></div>

    <div class="col-md-3"><p><i class="fas fa-star"></i> fa-star</p></div>
    <div class="col-md-3"><p><i class="fas fa-star-half"></i> fa-star-half</p></div>

    <div class="col-md-3"><p><i class="fas fa-step-backward"></i> fa-step-backward</p></div>
    <div class="col-md-3"><p><i class="fas fa-step-forward"></i> fa-step-forward</p></div>
    <div class="col-md-3"><p><i class="fas fa-stethoscope"></i> fa-stethoscope</p></div>
    <div class="col-md-3"><p><i class="fas fa-sticky-note"></i> fa-sticky-note</p></div>
    <div class="col-md-3"><p><i class="fas fa-stop"></i> fa-stop</p></div>
    <div class="col-md-3"><p><i class="fas fa-stop-circle"></i> fa-stop-circle</p></div>
    <div class="col-md-3"><p><i class="fas fa-street-view"></i> fa-street-view</p></div>
    <div class="col-md-3"><p><i class="fas fa-strikethrough"></i> fa-strikethrough</p></div>

    <div class="col-md-3"><p><i class="fas fa-subscript"></i> fa-subscript</p></div>
    <div class="col-md-3"><p><i class="fas fa-subway"></i> fa-subway</p></div>
    <div class="col-md-3"><p><i class="fas fa-suitcase"></i> fa-suitcase</p></div>

    <div class="col-md-3"><p><i class="fas fa-superscript"></i> fa-superscript</p></div>
    <div class="col-md-3"><p><i class="fas fa-table"></i> fa-table</p></div>
    <div class="col-md-3"><p><i class="fas fa-tablet"></i> fa-tablet</p></div>
    <div class="col-md-3"><p><i class="fas fa-tag"></i> fa-tag</p></div>
    <div class="col-md-3"><p><i class="fas fa-tags"></i> fa-tags</p></div>
    <div class="col-md-3"><p><i class="fas fa-tasks"></i> fa-tasks</p></div>
    <div class="col-md-3"><p><i class="fas fa-taxi"></i> fa-taxi</p></div>

    <div class="col-md-3"><p><i class="fas fa-terminal"></i> fa-terminal</p></div>
    <div class="col-md-3"><p><i class="fas fa-text-height"></i> fa-text-height</p></div>
    <div class="col-md-3"><p><i class="fas fa-text-width"></i> fa-text-width</p></div>
    <div class="col-md-3"><p><i class="fas fa-th"></i> fa-th</p></div>
    <div class="col-md-3"><p><i class="fas fa-th-large"></i> fa-th-large</p></div>
    <div class="col-md-3"><p><i class="fas fa-th-list"></i> fa-th-list</p></div>
    <div class="col-md-3"><p><i class="fas fa-thermometer"></i> fa-thermometer</p></div>

    <div class="col-md-3"><p><i class="fas fa-thermometer-empty"></i> fa-thermometer-empty</p></div>
    <div class="col-md-3"><p><i class="fas fa-thermometer-full"></i> fa-thermometer-full</p></div>
    <div class="col-md-3"><p><i class="fas fa-thermometer-half"></i> fa-thermometer-half</p></div>
    <div class="col-md-3"><p><i class="fas fa-thermometer-quarter"></i> fa-thermometer-quarter</p></div>
    <div class="col-md-3"><p><i class="fas fa-thermometer-three-quarters"></i> fa-thermometer-three-quarters</p></div>
    <div class="col-md-3"><p><i class="fas fa-thumbs-down"></i> fa-thumbs-down</p></div>

    <div class="col-md-3"><p><i class="fas fa-thumbs-up"></i> fa-thumbs-up</p></div>
    <div class="col-md-3"><p><i class="fas fa-times"></i> fa-times</p></div>
    <div class="col-md-3"><p><i class="fas fa-times-circle"></i> fa-times-circle</p></div>

    <div class="col-md-3"><p><i class="fas fa-tint"></i> fa-tint</p></div>

    <div class="col-md-3"><p><i class="fas fa-toggle-off"></i> fa-toggle-off</p></div>
    <div class="col-md-3"><p><i class="fas fa-toggle-on"></i> fa-toggle-on</p></div>

    <div class="col-md-3"><p><i class="fas fa-trademark"></i> fa-trademark</p></div>
    <div class="col-md-3"><p><i class="fas fa-train"></i> fa-train</p></div>
    <div class="col-md-3"><p><i class="fas fa-transgender"></i> fa-transgender</p></div>
    <div class="col-md-3"><p><i class="fas fa-transgender-alt"></i> fa-transgender-alt</p></div>
    <div class="col-md-3"><p><i class="fas fa-trash"></i> fa-trash</p></div>
    <div class="col-md-3"><p><i class="fas fa-tree"></i> fa-tree</p></div>

    <div class="col-md-3"><p><i class="fas fa-trophy"></i> fa-trophy</p></div>
    <div class="col-md-3"><p><i class="fas fa-truck"></i> fa-truck</p></div>
    <div class="col-md-3"><p><i class="fas fa-tty"></i> fa-tty</p></div>

    <div class="col-md-3"><p><i class="fas fa-tv"></i> fa-tv</p></div>

    <div class="col-md-3"><p><i class="fas fa-umbrella"></i> fa-umbrella</p></div>
    <div class="col-md-3"><p><i class="fas fa-underline"></i> fa-underline</p></div>
    <div class="col-md-3"><p><i class="fas fa-undo"></i> fa-undo</p></div>
    <div class="col-md-3"><p><i class="fas fa-universal-access"></i> fa-universal-access</p></div>
    <div class="col-md-3"><p><i class="fas fa-university"></i> fa-university</p></div>
    <div class="col-md-3"><p><i class="fas fa-unlink"></i> fa-unlink</p></div>
    <div class="col-md-3"><p><i class="fas fa-unlock"></i> fa-unlock</p></div>
    <div class="col-md-3"><p><i class="fas fa-unlock-alt"></i> fa-unlock-alt</p></div>
    <div class="col-md-3"><p><i class="fas fa-upload"></i> fa-upload</p></div>
    <div class="col-md-3"><p><i class="fas fa-user"></i> fa-user</p></div>
    <div class="col-md-3"><p><i class="fas fa-user-circle"></i> fa-user-circle</p></div>
    <div class="col-md-3"><p><i class="fas fa-user-md"></i> fa-user-md</p></div>
    <div class="col-md-3"><p><i class="fas fa-user-plus"></i> fa-user-plus</p></div>
    <div class="col-md-3"><p><i class="fas fa-user-secret"></i> fa-user-secret</p></div>
    <div class="col-md-3"><p><i class="fas fa-user-times"></i> fa-user-times</p></div>
    <div class="col-md-3"><p><i class="fas fa-users"></i> fa-users</p></div>
    <div class="col-md-3"><p><i class="fas fa-venus"></i> fa-venus</p></div>
    <div class="col-md-3"><p><i class="fas fa-venus-double"></i> fa-venus-double</p></div>
    <div class="col-md-3"><p><i class="fas fa-venus-mars"></i> fa-venus-mars</p></div>

    <div class="col-md-3"><p><i class="fas fa-volume-down"></i> fa-volume-down</p></div>
    <div class="col-md-3"><p><i class="fas fa-volume-off"></i> fa-volume-off</p></div>
    <div class="col-md-3"><p><i class="fas fa-volume-up"></i> fa-volume-up</p></div>

    <div class="col-md-3"><p><i class="fas fa-wheelchair"></i> fa-wheelchair</p></div>
    <div class="col-md-3"><p><i class="fas fa-wifi"></i> fa-wifi</p></div>
    <div class="col-md-3"><p><i class="fas fa-window-close"></i> fa-window-close</p></div>
    <div class="col-md-3"><p><i class="fas fa-window-maximize"></i> fa-window-maximize</p></div>
    <div class="col-md-3"><p><i class="fas fa-window-minimize"></i> fa-window-minimize</p></div>
    <div class="col-md-3"><p><i class="fas fa-window-restore"></i> fa-window-restore</p></div>

    <div class="col-md-3"><p><i class="fas fa-wrench"></i> fa-wrench</p></div>

</div>
