
<div class="row mt-lg-5 stats-con text-white">
    <div class="col-sm-3 col-6 stats_info counter_grid">

        <i class="far fa-lightbulb"></i>
        <p class="counter">@ViewBag.Headings</p>
        <h4>Başlıq Sayı</h4>

    </div>
    <div class="col-sm-3 col-6 stats_info counter_grid1">

        <i class="far fa-heart"></i>
        <p class="counter">@ViewBag.Contents</p>
        <h4>Məzmun Sayı</h4>

    </div>
    <div class="col-sm-3 col-6 stats_info counter_grid">

        <i class="fas fa-magic"></i>
        <p class="counter">@ViewBag.Writers</p>
        <h4>Yazar Sayı</h4>

    </div>
    <div class="col-sm-3 col-6 stats_info counter_grid2">

        <i class="far fa-smile"></i>
        <p class="counter">@ViewBag.Contacts</p>
        <h4>Mesaj Sayı</h4>

    </div>
</div>