@model IEnumerable<ShowcaseAPI.Models.Entity.Development>

@if (Model != null)
{
    foreach (var item in Model)
    {
        <div class="col-lg-4 service-in text-center" data-aos="flip-up">
            <div class="card">
                <div class="card-body">
                    <i class="fas @item.Icon"></i>
                    <h5 class="card-title text-uppercase">@item.Heading</h5>
                    <p class="card-text">@item.Description</p>
                </div>
            </div>

        </div>
    }
}
