<div class="col-lg-12 col-12">
    <!-- small box -->
    <div class="small-box bg-primary">
        <div class="inner">
            <h3>@ViewBag.Difference</h3>

            <p>Kategori tablosunda durumu true olan kategoriler ile false olan kategoriler arasındaki sayısal fark</p>
        </div>
        <div class="icon">
            <i class="ion ion-pie-graph"></i>
        </div>
    </div>
</div>

