<div class="col-lg-3 col-6">
    <!-- small box -->
    <div class="small-box bg-info">
        <div class="inner">
            <h3>@ViewBag.Total</h3>

            <p>Toplam kategori</p>
        </div>
        <div class="icon">
            <i class="ion ion-bag"></i>
        </div>
    </div>
</div>
