
@{
    ViewBag.Title = "Calendar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="~/AdminLTE/plugins/fullcalendar/main.css" rel="stylesheet" />


<div class="col-md-12">
    <div class="card card-primary">
        <div class="card-body p-0">
            <!-- THE CALENDAR -->
            <div id="calendar"></div>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>


@section scripts{
    <!-- fullCalendar 2.2.5 -->
    <script src="~/AdminLTE/plugins/moment/moment.min.js"></script>
    <script src="~/AdminLTE/plugins/fullcalendar/main.js"></script>


    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var eventarray = [];
            $.ajax({
                type: "GET",
                url: "/home/GetCalendarData",
                success: function (data) {
                    $.each(data, function (i, v) {
                        eventarray.push({
                            title: v.Subject,
                            start: v.Start,
                            end: v.End != null ? v.End : null,
                        });
                    })
                    console.log(eventarray);
                    GenerateCalender(eventarray);
                },
                error: function (error) {
                    alert('failed');
                }
            });

            function GenerateCalender(events) {
                var calendarEl = document.getElementById('calendar');
                var calendar = new FullCalendar.Calendar(calendarEl, {
                    contentHeight: 750,
                    headerToolbar: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'dayGridMonth,timeGridWeek,timeGridDay'
                    },
                    eventColor: '#378006',
                    events: eventarray,
                });
                calendar.render();
            }

        });
    </script>
 
}

