@model EntityLayer.ViewModels.HeadingSearchViewModel
<div class="row">
    <div class="col-2">
        <p>Tarix</p>
        <div class="col-md-12">
            <input type="date" name="Date" class="form-control" />
        </div>
    </div>
    <div class="col-3">
        <p>Yazar</p>
        <div class="col-md-12">
            <input type="text" name="Writer" class="form-control" />
        </div>
    </div>
    <div class="col-6">
        <p>Məzmun</p>
        <div class="col-md-12">
            <input type="text" name="Content" class="form-control" />
        </div>
    </div>
    <div class="col-1">
        <p><i class="fas fa-search"></i></p>
        <div class="col-md-12">
            <input type="submit" value="Axtar" class="btn btn-outline-secondary" />
        </div>
    </div>
</div>
